<div fxLayout="row wrap">
    <div fxFlex="10%">Hi</div>
    <div fxFlex="40%">
        <div class="mat-title">Add video Details</div>
        <form [formGroup]="addVideoDetailsForm" class="d-flex-col">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input [formControl]="title" matInput placeholder="Title of the video" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea rows="5" [formControl]="description" matInput required placeholder="Description for the video"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Video Status</mat-label>
                <mat-select [formControl]="videoStatus">
                    <mat-option value="PUBLIC">PUBLIC</mat-option>
                    <mat-option value="PRIVATE">PRIVATE</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-chip-list" appearance="outline">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(tag)">
                    {{tag}}
                    <button matChipRemove *ngIf="removable">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Type and press Enter"
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
              <div>
                <label for="inputGroupFile01">Upload Thumbnail:
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                           aria-describedby="inputGroupFileAddon01" (change)="onFileSelected($event)">
                  </div>
                  <br/>
                  <div *ngIf="fileUploaded">
                    <p>Selected File: {{selectedFileName}}</p>
                    <hr>
                  <button mat-raised-button color="primary" (click)="onUpload($event)" >Upload</button>
                  </div>
                  
                </label>
              </div>
             
            <div>
                <button type="submit" mat-raised-button color="primary" (click)="saveVideo($event)">Save</button>
            </div>
            
        </form>
    </div>
    <div fxFlex="40%">
        Your video
        <app-video-player [videoUrl]="videoUrl"></app-video-player>
    </div>
    <div fxFlex="10%">Hi</div>
</div>